@media only screen and (max-device-width : 1280px) 
{
	.desktop-only 
	{
		display: none
	}
}

A
{
    TEXT-DECORATION: none;
}
A:hover
{
    COLOR: red;
    TEXT-DECORATION: underline;
}
BODY
{
    LEFT: 0px;
    MARGIN: 0px 5px 0px 0px;
    COLOR: black;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    TOP: 0px;
    BACKGROUND-COLOR: #FFFFFF;
}

INPUT[type=button]
{
  height: 22px; 
  padding: 0 20px 0 20px; 
  font-size: 9pt;
  margin-top: 5px;
  border: 1px solid #888; 
  border-radius: 3px;
}

INPUT[type=button]:hover
{
  border: 1px solid #09F;
  background-color: #9FF;
}

INPUT[type=checkbox]
{
  margin-right: 6px;
}

INPUT[type=radio]
{
  MARGIN-TOP: 5px;
  MARGIN-LEFT: 5px;
  MARGIN-RIGHT: 7px;
  MARGIN-BOTTOM: 5px;
  PADDING-TOP: 5px;
}

INPUT[type=submit]
{
  height: 22px; 
  padding: 0 20px 0 20px; 
  font-size: 9pt;
  margin-top: 5px;
  border: 1px solid #888; 
  border-radius: 3px;
}

INPUT[type=submit]:hover
{
  border: 1px solid #09F;
  background-color: #9FF;
}

INPUT[type=text]
{
  height: 22px;
  font-size: 9pt;
  margin-top: 5px;
  border: 1px solid #888; 
  border-radius: 3px;
}

INPUT[type=text]:hover
{
  border: 1px solid #09F;
}

SELECT
{
  height: 22px;
  font-size: 9pt;
  MARGIN-TOP: 3px;
  MARGIN-LEFT: 0px;
  MARGIN-RIGHT: 5px;
  MARGIN-BOTTOM: 2px;
  BORDER: #888 1px solid;
  border-radius:3px 0px 0px 3px;
  COLOR: #555;
}

SELECT:hover
{
  border: 1px solid #09F;
}
TD
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
}
TH
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    TEXT-ALIGN: left
}
.AdvertiseOff
{
    BORDER-RIGHT: darkorange 3px solid;
    BORDER-TOP: #ffc500 3px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    MARGIN-LEFT: 2px;
    BORDER-LEFT: #ffc500 3px solid;
    WIDTH: 131px;
    COLOR: black;
    BORDER-BOTTOM: darkorange 3px solid;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    HEIGHT: 21px;
    BACKGROUND-COLOR: orange;
    TEXT-ALIGN: center
}
.AdvertiseOn
{
    BORDER-RIGHT: #ffc500 3px solid;
    BORDER-TOP: darkorange 3px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    MARGIN-LEFT: 2px;
    BORDER-LEFT: darkorange 3px solid;
    WIDTH: 131px;
    COLOR: red;
    BORDER-BOTTOM: #ffc500 3px solid;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    HEIGHT: 21px;
    BACKGROUND-COLOR: orange;
    TEXT-ALIGN: center
}
.AsteriskSpace
{
	PADDING-RIGHT: 10px;
}
.AsteriskSpaceBold
{
	PADDING-RIGHT: 10px;
	FONT-WEIGHT: bold;	
}
.AsteriskSpace2
{
	PADDING-RIGHT: 7px;
}
.AsteriskSpace3
{
	PADDING-RIGHT: 11px;
}
.PadDash
{
	PADDING-RIGHT: 18px;
}
.PadOvers
{
	PADDING-RIGHT: 15px;
}
.PadOversBold
{
	PADDING-RIGHT: 15px;
	FONT-WEIGHT: bold;
}
.BackBlue
{
    FONT-WEIGHT: bold;
    COLOR: white;
    BACKGROUND-COLOR: blue
}
.BackGreen
{
    COLOR: green;
}
.BackRed
{
    COLOR: red;
}
.Banner1
{
		BORDER-TOP: #999 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #000000;
		BORDER-BOTTOM: #444 1px solid;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    HEIGHT: 25px;
    BACKGROUND-COLOR: #BDF4CB;
}
.ScoreCardBanner1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    HEIGHT: 25px;
    BACKGROUND-COLOR: #BDF4CB;
}
.Banner2
{
    BORDER-TOP: #999 1px solid;
		FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #000000;
		BORDER-BOTTOM: #444 1px solid;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    HEIGHT: 25px;
    BACKGROUND-COLOR: #FFFFB5;
}
.ScoreCardBanner2
{
 	FONT-WEIGHT: bold;
  FONT-SIZE: 9pt;
  COLOR: #000000;
  FONT-FAMILY: verdana, arial, helvetica, sans-serif;
  HEIGHT: 25px;
  BACKGROUND-COLOR: #FFFFB5;
}
.Banner3
{
		BORDER-TOP: #999 1px solid;
    BORDER-BOTTOM: #444 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
		HEIGHT: 25px;
    BACKGROUND-COLOR: #EEEEEE;
}
.ScoreCardBanner3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
		MARGIN-BOTTOM: 30px;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
		HEIGHT: 25px;
    BACKGROUND-COLOR: #EEEEEE;
}
.ScoreCardBannerIPL
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
		MARGIN-BOTTOM: 30px;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
		HEIGHT: 25px;
    BACKGROUND-COLOR: #99FFFF;
}

.Banner4
{
    BORDER-TOP: #999 1px solid;
		FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
		BORDER-BOTTOM: #444 1px solid;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
		HEIGHT: 25px;
    BACKGROUND-COLOR: #EFD7FF;
}
.Banner5
{
		BORDER-TOP: #999 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
		BORDER-BOTTOM: #444 1px solid;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
		HEIGHT: 25px;
    BACKGROUND-COLOR: #EEEEEE;
}
.BannerIPL
{
		BORDER-TOP: #999 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #000000;
		BORDER-BOTTOM: #444 1px solid;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
		HEIGHT: 25px;
    BACKGROUND-COLOR: #00FFFF;
}
.BannerWSC
{
    BORDER-TOP: #999 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #000000;
    BORDER-BOTTOM: #444 1px solid;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
		HEIGHT: 25px;
    BACKGROUND-COLOR: #A6DEEE;
}
.ScoreCardBannerWSC
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
		HEIGHT: 25px;
    BACKGROUND-COLOR: #A6DEEE;
}
.BoldFace
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.BorderedBox
{
    MARGIN: 0 0 10px 5px;
    BORDER: 2px #FF7575 solid;
    BORDER-RADIUS: 6px;
    PADDING: 5px 5px 5px 5px;
}
.BorderedBoxGraph
{
    MARGIN: 0 0 0 0;
    BORDER: 2px #00AA00 solid;
    BORDER-RADIUS: 6px;
    PADDING: 0 0 0 0;
}
.BorderedBoxGreen
{
    MARGIN: 0 0 10px 5px;
    BORDER: 2px #FF7575 solid;
    BORDER-RADIUS: 6px;
    PADDING: 5px 5px 5px 5px;
		BACKGROUND-COLOR: #EFFAFC;
}
.BorderedBoxRed
{
    MARGIN: 0 0 10px 5px;
    BORDER: 2px #FF7575 solid;
    BORDER-RADIUS: 6px;
    PADDING: 5px 5px 5px 5px;
		BACKGROUND-COLOR: #FFECEC;
}
.BorderedBoxBlue
{
    MARGIN: 0 0 10px 5px;
    BORDER: 2px #FF7575 solid;
    BORDER-RADIUS: 6px;
    PADDING: 5px 5px 5px 5px;
		BACKGROUND-COLOR: #ECF4FF;
}
.BorderedBoxYellow
{
    MARGIN: 0 0 10px 5px;
    BORDER: 2px #FF7575 solid;
    BORDER-RADIUS: 6px;
    PADDING: 5px 5px 5px 5px;
		BACKGROUND-COLOR: #FFFBDF;
}
.BorderedBoxIndigo
{
    MARGIN: 0 0 10px 5px;
    BORDER: 2px #FF7575 solid;
    BORDER-RADIUS: 6px;
    PADDING: 5px 5px 5px 5px;
		BACKGROUND-COLOR: #EEEEFF;
}
.BorderedBoxPurple
{
    MARGIN: 0 0 10px 5px;
    BORDER: 2px #FF7575 solid;
    BORDER-RADIUS: 6px;
    PADDING: 5px 5px 5px 5px;
		BACKGROUND-COLOR: #F9EEFF;
}
.BorderedBox2
{
    MARGIN: 0 -4px 10px 5px;
    BORDER: 2px #FF7575 solid;
    BORDER-RADIUS: 6px;
    PADDING: 5px 5px 5px 5px;
		BACKGROUND-COLOR: white;
}
.BlackBorderedBox
{
    MARGIN: 0 0 10px 5px;
    BORDER: 3px #000 solid;
    BORDER-RADIUS: 6px;
    PADDING: 5px 5px 5px 5px;
}
.HomeRightColumn
{
    MARGIN: 0 0 10px 5px;
    BORDER: 2px #CC0000 solid;
    BORDER-RADIUS: 6px;
    PADDING: 5px 5px 5px 5px;
}

.Caution
{
    FONT-SIZE: 8pt;
    COLOR: blue;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}

.DateLine
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #bd2e2b;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.FieldName
{
    FONT-WEIGHT: bold;
    COLOR: #000000
}
.FieldValue
{
    FONT-WEIGHT: normal;
    PADDING-RIGHT: 6px;
    COLOR: #000000;
		TEXT-ALIGN: right;	
}
.FieldValue2
{
    FONT-WEIGHT: bold;
    COLOR: #87cefa
}
.FieldValue3
{
		PADDING-RIGHT: 11px;
    FONT-WEIGHT: normal;
    COLOR: #000000
}
.FieldValueAsterisk
{
    FONT-WEIGHT: normal;
    PADDING-RIGHT: 0px;
    COLOR: #000000;
		TEXT-ALIGN: right;	
}
.Footer
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #006400;
    FONT-FAMILY: 'Times New Roman', times
}
.FooterLink
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #006400;
    FONT-FAMILY: 'Times New Roman', times;
    TEXT-DECORATION: underline
}
.Headline
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    WIDTH: 300px;
    COLOR: black;
    BORDER-BOTTOM: orange 3px solid;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    TEXT-ALIGN: left
}
.LinkRed
{
    COLOR: #bd2e2b;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    TEXT-DECORATION: underline
}
.LinkGreen
{
    COLOR: green;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    TEXT-DECORATION: underline
}
.LinkOff
{
    COLOR: #bd2e2b;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    TEXT-DECORATION: none;
    BORDER-BOTTOM: 1px dotted #bd2e2b;
}
.LinkOff:hover
{
    COLOR: #F00;
    TEXT-DECORATION: none;
    BORDER-BOTTOM: 1px #F00 dashed;
		CURSOR: pointer;
}
.LinkOff2
{
    COLOR: #bd2e2b;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    TEXT-DECORATION: none;
    BORDER-BOTTOM: 1px dotted #bd2e2b;
    MARGIN-RIGHT: 6px;
}
.LinkOff2:hover
{
    COLOR: #F00;
    TEXT-DECORATION: none;
    BORDER-BOTTOM: 1px #F00 dashed;
}
.LinkOff3
{
    COLOR: #bd2e2b;
		FONT-WEIGHT: bold;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    TEXT-DECORATION: none;
    BORDER-BOTTOM: 1px dotted #bd2e2b;
		FONT-SIZE: 9pt;
}
.LinkOff3:hover
{
    COLOR: #F00;
    TEXT-DECORATION: underline;
    FONT-WEIGHT: bold;
}
.abcList
{
    COLOR: #bd2e2b;
    DISPLAY: inline-block;    
    MARGIN: 2px 2px;
    BORDER: 1px #bd2e2b solid;
    TEXT-ALIGN: center;
    HEIGHT: 16px;
    WIDTH: 17px;
    FONT-SIZE: 9pt;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    TEXT-DECORATION: none;
}
.abcList2
{
    COLOR: #bd2e2b;
    DISPLAY: inline-block;    
    MARGIN: 2px 2px;
    BORDER: 1px #bd2e2b solid;
    TEXT-ALIGN: center;
    HEIGHT: 64px;
    WIDTH: 64px;
    FONT-SIZE: 44pt;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    TEXT-DECORATION: none;
}
.abcList:hover
{
    COLOR: #f00;
    TEXT-DECORATION: none;
    CURSOR: pointer;
}
.abcList2:hover
{
    COLOR: #f00;
    TEXT-DECORATION: none;
    CURSOR: pointer;
}
.LinkOn
{
    COLOR: #ff4500;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    TEXT-DECORATION: underline
}
.LinkNormal
{
    COLOR: #bd2e2b;
    BORDER-BOTTOM: 1px #bd2e2b dotted;
}
.LinkNormal:hover
{
    COLOR: #F00;
    TEXT-DECORATION: none;
    BORDER-BOTTOM: 1px #F00 dashed;
}
.LinkBlack
{
		FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
		FONT-FAMILY: verdana, Arial, Helvetica, sans-serif;
    COLOR: #000000;
    TEXT-DECORATION: none;
    BORDER-BOTTOM: 1px dotted #bd2e2b;    
}
.LinkBlack:hover
{
    COLOR: #FF0000;
    TEXT-DECORATION: none;
}
.LinkBlack2
{
		FONT-FAMILY: verdana, Arial, Helvetica, sans-serif;
    COLOR: #000000;
    TEXT-DECORATION: none;
    BORDER-BOTTOM: 1px dotted #000000;    
}
.LinkBlack2:hover
{
    COLOR: #FF0000;
    TEXT-DECORATION: none;
		BORDER-BOTTOM: 1px dotted #FF0000;
}
.MatchHighlight
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: green
}
.MenuBar
{
    LEFT: 3px;
    WIDTH: 160px;
    COLOR: white;
    POSITION: absolute
}

.MainMenu
{
    FONT-WEIGHT: bold;
    DISPLAY: inline-block;
    PADDING-LEFT: 3px;
    WIDTH: 150px;
    HEIGHT: 15px;
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    TEXT-DECORATION: none
}
.MainMenu2
{
    FONT-WEIGHT: bold;
    DISPLAY: inline-block;
    PADDING-LEFT: 3px;
    WIDTH: 150px;
    HEIGHT: 15px;
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    TEXT-DECORATION: none
}
.MainMenu:hover
{
    COLOR: #f00;
    TEXT-DECORATION: none;
    CURSOR: pointer;
}

.SubMenu
{
    FONT-WEIGHT: normal;
    DISPLAY: inline-block;
    PADDING-LEFT: 15px;
    WIDTH: 130px;
    MARGIN-TOP: 2px;
    HEIGHT: 15px;
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    TEXT-DECORATION: none
}
.SubMenu:hover
{
    COLOR: #f00;
    TEXT-DECORATION: none;
    CURSOR: pointer;
}
.MenuLinkOff
{
    DISPLAY: inline-block;
    PADDING-TOP: 6px;
    COLOR: #ffffff;
    TEXT-DECORATION: none;
    CURSOR: default;
}
.MenuLinkOff:hover
{
    COLOR: #f00;
    TEXT-DECORATION: none;
    CURSOR: pointer;
}

.DropDownMenu
{
    FONT-SIZE: 8pt;
    VISIBILITY: hidden;
    WIDTH: 162px;
    HEIGHT: 1px; 
    COLOR: white;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    POSITION: absolute;
		BACKGROUND-COLOR: black;
    TEXT-ALIGN: left
}

.MenuLinkOff2
{
    LEFT: 0;
    PADDING-LEFT: 24px; 
    PADDING-TOP: 4px;
    WIDTH: 137px;
    HEIGHT: 15px; 
    DISPLAY: inline-block;
    COLOR: #ffffff;
    TEXT-DECORATION: none;
		BACKGROUND-COLOR: black;
    CURSOR: default;
}
.MenuLinkOff2:hover
{
    COLOR: #f00;
    TEXT-DECORATION: none;
    CURSOR: pointer;
}

.MenuLinkOff3
{
    LEFT: 0;
    PADDING-LEFT: 24px; 
    PADDING-TOP: 2px;
    WIDTH: 160px;
    HEIGHT: 15px; 
    DISPLAY: inline-block;
    COLOR: #ffffff;
    TEXT-DECORATION: none;
    CURSOR: default;
}
.MenuLinkOff3:hover
{
    COLOR: #f00;
    TEXT-DECORATION: none;
    CURSOR: pointer;
}
/*
.MenuLinkOn
{
    COLOR: #ffff00;
    TEXT-DECORATION: none
}
*/
.MenuOption
{
/*    BORDER-TOP: #bd2e2b 1px solid; */
    BORDER-TOP: #D00 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    Z-INDEX: 10;
    LEFT: 3px;
    MARGIN-LEFT: 0px;
    WIDTH: 155px;
    COLOR: yellow;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    POSITION: absolute;
		BACKGROUND-COLOR: black;
    HEIGHT: 21px
}
.SortLink
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BORDER-BOTTOM: #777 1px dashed;
}
.SortLink:hover
{
    COLOR: #F00;
    TEXT-DECORATION: NONE;
    BORDER-BOTTOM: #F00 1px dashed;
}
.Spacer
{
    FONT-SIZE: 12pt;
    FONT-FAMILY: Courier New
}
.Spacer2
{
    FONT-SIZE: 3px
}
.Spacer3
{
    FONT-SIZE: 1px;
}
.Spacer6
{
    FONT-SIZE: 6px
}
.TabHeader
{
  POSITION: absolute; 
  LEFT: 300px; 
  TOP: 107px; 
  WIDTH: 340px;
  HEIGHT: 14px;
  FONT-FAMILY: verdana, arial, helvetica, sans-serif;
  FONT-SIZE: 11px;
  BACKGROUND-COLOR: white;
  BORDER: #CCC 1px solid;
  PADDING: 4px 0 3px 0;
  TEXT-ALIGN: center;
  BORDER-RADIUS:4px 4px 0px 0px;
 }

.TableHeadingCentre
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: center
}
.TableHeadingLeft
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: left
}
.TableHeadingPlayer
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: left;
		WIDTH: 140;
}
.TableHeadingCareer
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: left;
		WIDTH: 62;
}
.TableHeadingCountry
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: left;
		WIDTH: 100;
}
.TableHeadingGround
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: left;
		WIDTH: 250;
}
.TableHeadingHowOut
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: left;
		WIDTH: 200;
}
.TableHeadingDate
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: left;
		WIDTH: 72;
}
.TableHeading40
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: left;
		WIDTH: 40;
}
.TableHeading60
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: left;
		WIDTH: 60;
}
.TableHeadingMatches
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: right;
		WIDTH: 30;
}
.TableHeadingInns
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: right;
		WIDTH: 30;
}
.TableHeadingInnsL
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: left;
		WIDTH: 25;
}
.TableHeadingNO
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: right;
		WIDTH: 22;
}
.TableHeading50s
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: right;
		WIDTH: 24;
}
.TableHeading100s
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: right;
		WIDTH: 28;
}
.TableHeadingHS
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: right;
		WIDTH: 32;
}
.TableHeadingRuns
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: right;
		WIDTH: 36;
}
.TableHeadingAvg
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: right;
		WIDTH: 40;
}
.TableHeadingSR
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: right;
		WIDTH: 40;
}
.TableHeadingCatches
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: right;
		WIDTH: 25;
}
.TableHeadingDucks
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: right;
		WIDTH: 35;
}
.TableHeadingPairs
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: right;
		WIDTH: 30;
}
.TableHeadingStumpings
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: right;
		WIDTH: 20;
}
.TableHeadingOvers
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: right;
		WIDTH: 40;
}
.TableHeadingMaidens
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: right;
		WIDTH: 20;
}
.TableHeadingWickets
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: right;
		WIDTH: 30;
}
.TableHeading5w
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: right;
		WIDTH: 20;
}
.TableHeading10w
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: right;
		WIDTH: 20;
}
.TableHeadingBest
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: right;
		WIDTH: 40;
}
.TableHeadingER
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: right;
		WIDTH: 35;
}
.TableHeadingSeries
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: left;
		WIDTH: 250;
}
.TableHeadingResult
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: left;
		WIDTH: 225;
}

.TableHeadingRight
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #BDF4CB;
    TEXT-ALIGN: right
}
.TableLined
{
	BORDER: #CCC 1px solid;
  BORDER-RADIUS: 6px;
}	
.TableLined td
{
	BORDER-LEFT: #AAA 1px dotted; 
	BORDER-TOP: #AAA 1px dotted;
	BORDER-RIGHT: #AAA 1px dotted;
	BORDER-BOTTOM: #AAA 1px dotted;
}
.TableComparison
{
	BORDER: #CCC 1px solid;
  BORDER-RADIUS: 6px;
}	
.TableComparison td
{
	BORDER-LEFT: #AAA 1px dotted; 
	BORDER-TOP: #AAA 1px dotted;
	BORDER-RIGHT: #AAA 1px dotted;
	BORDER-BOTTOM: #AAA 1px dotted;
	FONT-SIZE: 8.5pt;
}
.TextBlack7
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    COLOR: black;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.Books
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12pt;
    COLOR: black;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.Books2
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 24pt;
    COLOR: black;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.Arial10
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: arial, helvetica, sans-serif
}
.TextBlack8
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
}
.TextBlack8.5
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8.5pt;
    COLOR: black;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
}
.TextBlackBold8
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    COLOR: black;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextBlackArial8
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #333333;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.TextBlack9
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
}
.TextBlackPad9
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    POSITION: relative;
    PADDING-LEFT: 3px;
    TOP: -2px;
}
.TextSubHead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9.5pt;
    COLOR: black;
    FONT-FAMILY: arial, helvetica, sans-serif;
    POSITION: relative;
    LEFT: 5px;
    MARGIN: 5px 0 5px 0;
}
.TextBlackBold9
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextBlackBoldPad9
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    COLOR: black;
    FONT-FAMILY: arial, helvetica, sans-serif;
    POSITION: relative;
    TOP: -2px;
}
.TextBlack10
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextBlackBold10
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextBlackBold12
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: black;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextBlue8
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: blue;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextBlueBold8
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: blue;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextBlue10
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: blue;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextBlueBoldU9
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: blue;
		TEXT-DECORATION: underline;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextCrimson8
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #bd2e2b;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextCrimson8:hover
{
    COLOR: #FF0000;
    TEXT-DECORATION: none;
}
.TextCrimson9
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #bd2e2b;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextCrimsonBold8
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #bd2e2b;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextCrimsonBold9
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #bd2e2b;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextCrimson10
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #bd2e2b;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextCrimsonBold10
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #bd2e2b;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextGreenBold8
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: green;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextGrey9
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #808080;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    TEXT-DECORATION: underline
}
.TextGrey10
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #808080;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    TEXT-DECORATION: none
}
.TextGreyUnderline8
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #808080;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    TEXT-DECORATION: underline
}
.TextGreen10
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: green;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextGreenBold10
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: green;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextGreenBold11
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: green;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}

.TextGreenBold12
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: green;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextOrangeBold8
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: orange;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextOrangeBold10
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: orange;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextRed8
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: red;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextRed9
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: red;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextRedBold8
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: red;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.ChartCaptain
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: red;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BORDER-BOTTOM: 1px red dotted;
}
.ChartCaptainKeeper
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: orange;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BORDER-BOTTOM: 1px orange dotted;
}
.ChartKeeper
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: blue;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BORDER-BOTTOM: 1px blue dotted;
}
.ChartPlayer
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: green;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BORDER-BOTTOM: 1px green dotted;
}
.TextRed10
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: red;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextRedBold10
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: red;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextSilver8
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #888888;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextSilverBold8
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: silver;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextWhite7
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7.5pt;
    COLOR: white;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextWhiteBold7
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7.5pt;
    COLOR: white;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextBodyColor8
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #FFFFEE;
		FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextWhite8
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: white;
		FONT-FAMILY: verdana, arial, helvetica, sans-serif
}

.TextWhiteBold8
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: white;
		FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextWhiteBold10
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: white;
		FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextYellow7
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7.5pt;
    COLOR: yellow;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextYellowBold7
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7.5pt;
    COLOR: yellow;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.TextGreen8
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: green
}
.TextGoogleGreen
{
    FONT-FAMILY: arial, helvetica, sans-serif;
    FONT-WEIGHT: normal;
    FONT-SIZE: 7.5pt;
    COLOR: green
}
.TextLineSpacer
{
    FONT-SIZE: 1pt
}
.Advertisement
{
    COLOR: black;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: lightcyan
}
.BlackBox
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.AdLink
{
    COLOR: #bd2e2b;
    TEXT-DECORATION: none;
    BORDER-BOTTOM: 1px dotted #bd2e2b;
}
.AdText
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica; /*'Times New Roman', times; */
    LINE-HEIGHT: 135%;
}
.AdHeading
{
    FONT-SIZE: 13pt;
    COLOR: #BD2E2B;
    FONT-WEIGHT: bold;
    FONT-FAMILY: Arial, Helvetica; /*'Times New Roman', times; */
}
.CellBorderCrimson
{
    BORDER: #bd2e2b 1px dotted;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
}
.CricketCrowd
{
    BACKGROUND-COLOR: #000054; /*#1A5495;*/
    TEXT-ALIGN: center;
    WIDTH: 290px;
    HEIGHT: 180px;
    COLOR: white;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    TOP: 120px;
}

.CricketCrowd:hover
{
    TEXT-DECORATION: none;
    COLOR: white;
}
.MileStones
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica; /*'Times New Roman', times; */
    LINE-HEIGHT: 140%;
}
.BlockText
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica; /*'Times New Roman', times; */
    LINE-HEIGHT: 140%;
}
.ProfileSection
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #FFFFFF;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #bd2e2b; /*#BDF4CB;*/
    TEXT-ALIGN: left
}
.PaddedText
{
    MARGIN-TOP: 5px;
		MARGIN-BOTTOM: 5px;
}
.ImageBox
{
	VERTICAL-ALIGN: top;
	DISPLAY: inline-block;	
	MARGIN: 0px 0px 0px 0px;
  PADDING: 2px 2px 2px 2px; 
  BORDER: 1px solid #000; 	
}	
		
/* McTabs styles */
ul.mctabs
{
    height:30px; /* height #1 */
    text-align:left; /*set to left, center, or right to align the tabs as desired*/    
    font-size:0;
    margin:0px;
    padding:0;
    list-style-type:none;
}
        
ul.mctabs li
{
    display:inline;
    margin:0;
    padding:0;
    margin-right:3px; /*distance between tabs*/
}
        
ul.mctabs li a
{
    padding:0 16px; /* edit 16px for different tab width */
    display:inline-block;    
    font:normal 8pt Verdana;
    line-height:30px;/* height #1 */
    text-decoration: none;
    color:#222;
    border:1px solid #CCC; /*This color can be different from color #2 */
    border-bottom:none;
    background:white;
    outline:none;
    border-radius:3px 3px 0 0;
    position:relative;
/*		width: 140px; */
}
  
ul.mctabs li a:link, ul.mctabs li a:visited
{
    color:#222;
}
        
ul.mctabs li a:hover
{
    border-color: #DDD; /*color #1*/
    background:#FFFF66;
}
  
/*selected tab style */
ul.mctabs li.selected a
{
    color:#000;
    font-weight:bold;
    border-color:#AAA; /*color #1*/
    border-bottom: 1px solid #FFE;
    background: #FFFFEE; /*color #2*/
    z-index:3;
}   
        
/*selected tab style on hover */
ul.mctabs li.selected a:hover
{
    text-decoration:none;
}

/* container of content panels */
div.panel-container
{
    border:1px solid #AAA; /*color #1*/ 
    border-radius:0 4px 4px 4px;
    background-color:#FFFFFF; /*color #2*/
    position:relative;    
    padding:0px; margin:0px;
}

/* content panel */       
div.panel-container > div
{
    padding:12px;
    
    /* The two settings below should not be changed. */
    display: block;
    margin:0px;
}

/* loading image before ajax content is retrieved. Only applicable when Ajax is used.*/
div.ajaxLoading {background:transparent url(loading.gif) no-repeat center center; height:150px; font-size:0;padding:0; margin:0; }

ul.mctabs li:nth-child(1) a {background:#BDF4CB;}
ul.mctabs li:nth-child(2) a {background:#FFFFB5;}
ul.mctabs li:nth-child(3) a {background:#EEEEEE;}

